<div *ngIf="noProducts">
  <h2>No results found.</h2>
</div>
<div *ngIf="!noProducts">
  <h2>Total Products: {{totalProducts}} items</h2>
  <div *ngFor="let product of products">
    <a href="javascript:void(0)" (click)="goToProduct(product.asin)">{{product.title}}</a>
  </div>


  <div class="row float-right paginator">
    <div class="col-xs-12 col-12">
      <pagination [(ngModel)]="paginationModel.currentPage" [boundaryLinks]="true" [totalItems]="totalProducts" [rotate]="false" [itemsPerPage]="itemsPerPage" [maxSize]="5"
                  previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (pageChanged)="onPageChanged($event)"></pagination>
    </div>
  </div>

</div>
