<div *ngIf="product" class="product-container">
  <div class="card flex-row flex-wrap">
    <div class="card-header border-0 product-img-container">
      <img class="product-img" [src]="product.imUrl" [alt]="product.title">
    </div>
    <div class="card-block px-2 product-info">
      <h4 class="card-title">{{product.asin}} - {{product.title}}</h4>
      <p class="card-text">
        <span><strong>Categories:</strong> {{product.categories}}</span>
      </p>
      <p class="card-text">
        <span><strong>Brand:</strong> {{product.brand ? product.brand : 'No info.'}}</span>
      </p>

      <p class="card-text">
        <span><strong>Price:</strong> {{product.price ? '$' + product.price : 'No info.'}}</span>
      </p>

    </div>
    <div class="w-100"></div>
    <div class="card-footer w-100 text-muted">
      <p class="card-text">{{product.description}}</p>
    </div>
  </div>
</div>
<h2>Recommended Products</h2>
<div class="card-columns" *ngIf="recommended">
  <div class="card" *ngFor="let recProd of recommended">
    <img class="card-img-top" [src]="recProd.imUrl" [alt]="recProd.title">
    <div class="card-body">
      <h5 class="card-title">{{recProd.asin}} - {{recProd.title}}</h5>
      <p class="card-text">
        <span><strong>Categories:</strong> {{recProd.categories}}</span>
      </p>
      <p class="card-text">
        <span><strong>Brand:</strong> {{recProd.brand ? recProd.brand : 'No info.'}}</span>
      </p>
      <p class="card-text">
        <span><strong>Price:</strong> {{recProd.price ? '$' + recProd.price : 'No info.'}}</span>
      </p>

    </div>
    <div class="card-footer w-100 text-muted">
      <a href="javascript:void(0)" (click)="goToProduct(recProd.asin)"
         class="btn btn-primary more-info-btn">View more</a>
    </div>
  </div>
</div>
